.headerBox {
    display: flex;
    width: 100%;
    background-color: #2C3E50;
    color: white;
    justify-content: center;
    align-items: center;
    padding-block: 1.5rem;
    
}

h1 {
    font-size: 1.5rem;
    text-align: center;
}

.movieLogo {
    width: 18%;
    height: auto;
}

.filmLogo {
    width: 15%;
    height: auto;
}

@media screen and (min-width: 700px) {
    .headerBox {
        justify-content: space-evenly;
    }

    h1 {
        font-size: 3rem;
        text-align: center;
    }

    .movieLogo {
        width: 15%;
        height: auto;
    }

    .filmLogo {
        width: 12%;
        height: auto;
    }
}