* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

h3 {
	font-size: 3vw;
	margin-bottom: 1rem;
}

.image-oss {
	width: 60vw;
}

.restart-button {
	font-size: 3vw;
  margin-top: 1rem;
  margin-bottom: 1rem;
  width: 60%;
  height: 10vw;
  background-color: #2C3E50;
  color: white;
  border: none;
  border-radius: 1rem;
}

.score{
	font-size: 5vw;
}

.scoreresult {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 2rem 1rem;
	border-radius: 10px;
	margin: 2rem;
}

.sentenceresult {
	display: flex;
	flex-direction: column;
	align-items: center;
	border-radius: 10px;
	padding: 1rem;
	margin-block: 1rem;
	width: 100%;
}

.restart-button {
	background-color: 2C3E50;
	padding: 15px 15px;
	border-radius: 10px;
	margin-bottom: 10px;
	cursor: pointer;
	font-size: 16px;
	width: 100%;
	border: 1px solid black;
	text-align: center;
}

.image-charlotte {
	width: 20%;
}

.restart-button:hover {
	background-color: #3d566f;
}

.oscar {
	width: 10%;
	height: auto;
}

@media screen and (min-width: 700px) {
	.score{
	font-size: 2vw;
}

.restart-button {
	width: 50%;
	font-size: 2em;
}
}